@using HomeForPets.Models
@using HomeForPets.Helpers
@model IEnumerable<AppRole>
@{
    ViewBag.Title = "Роли";
}

<h2>Список ролей</h2>

<p>
    @Html.ActionLink("Добавить новую", "Create", null, new { @class = "btn btn-default" })
</p>

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Название 
        </th>
        <th>
            Пользователи
        </th>
        <th></th>
    </tr>
    @foreach (AppRole role in Model)
    {
        <tr>
            <td>
                @role.Id
            </td>
            <td>
                @role.Name
            </td>
            <td>
                @if(role.Users == null || role.Users.Count == 0)
                {
                    @: Нет пользователей в роли
                }
                else
                {
                    <p>@string.Join(", ", role.Users.Select(u => Html.GetUserName(u.UserId)))</p>
                }
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = role.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Удалить", "Delete", new { id = role.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>