@model ModelDB.AppUser

@{
    ViewBag.Title = Model.UserName;
}

<h2>Пользователь: @Model.UserName</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3 anketa-image-content">
            @if (Model.Image != null)
            {
                <img src="@Model.Image.Path" />
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>@Model.UserName</h3>
            <h3>Контакты</h3>
            <address>
                Город : <br />
                Номер телефона : @Model.PhoneNumber <br />
                Электронная почта : @Model.Email <br />
            </address>
            <h3>Анкеты</h3>
        </div>
    </div>
    @if (Model.Forms != null)
    {
        foreach (var form in Model.Forms)
        {
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="thumbnail">
                    @Html.Partial("UsersForms", form)
                </div>
            </div>
        }
    }
</div>
