@model ModelDB.AppUser

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы уверены что хотите удалить пользователя?</h3>
<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @if (Model.Image != null)
            {
                <img src="@Model.Image.Path" />
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 anketa-image-content">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </dl>
        </div>
    </div>

    @using (Html.BeginForm("Delete", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Отмена", "Index")
        </div>
    }
</div>
